@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

:root {
	--shadow-color: 0deg 0% 0%;
	--shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
		1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.1),
		2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.1),
		4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.1),
		7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.1),
		11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.1),
		17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.1),
		25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.1);
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Pathway Extreme', sans-serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #181515;
	transition: 250ms;
	border-radius: 1vw;
	box-shadow: var(--shadow-elevation-high);
	width: 500px;
	padding: 2em 0;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 0 5em;
}

h1 {
	text-align: center;
	color: white;
	margin-top: 0 !important;
}

main button#createToDoButton {
	background: #181515;
	color: white;
	border: 1px solid white;
	padding: 0.5em 1.5em;
	border-radius: 100vw;
	transition: 250ms;
}

main button#createToDoButton:hover {
	background: white;
	cursor: pointer;
	color: #181515;
}

h1,
input,
#createToDoButton,
.todolistContainer {
	margin: 20px 0 0 0;
}

#todoInput {
	background: white;
	color: #181515;
	border: 1px solid #181515;
	padding: 0.8em 1.5em;
	border-radius: 100vw;
	transition: 250ms;
	transition: 250ms;
}

#todoInput:focus {
	outline: none;
	border: 1px solid white;

	transition: 250ms;
	scale: 1.05;
}

.todolistContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: max-content;
	max-width: 100%;
	width: 100%;
	height: min-content;
}

/* TODO LIST ITEM */

.todoItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1em 2em;
	color: white;
	border-bottom: 1px solid white;
}

.itemActionButton {
	background: #181515;
	color: white;
	border: 1px solid white;
	padding: 1em 1em;
	border-radius: 100vw;
	transition: 250ms;
	margin: 0 1em;
}

.itemActionButton:hover {
	background: white;
	cursor: pointer;
	color: #181515;
}


@keyframes doneToDo {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.done {
	text-decoration: line-through;
	animation: doneToDo 1s ease-in-out;
}

.material-symbols-outlined {
 pointer-events:none;
}

.dondeButtonTrue {
	pointer-events: none;
	background-color: #4caf50;
}

.deleteButton {
	transition: 250ms;
}

.deleteButton:hover {
	background-color: #f44336;
}

.deleteButton span {
	color: white;
}
